html {
    background: url('https://sun9-7.userapi.com/impg/eHZta3zxFnks0otbeQdfNzp6qIekpAuX3NDJhg/VGqCRVu6fHE.jpg?size=1024x1024&quality=95&sign=f2168a35e2f18b71fb19db6f759d761a&type=album');
    margin: 0px;
}

@font-face {
    font-family: "Pacifico Regular";
    src: url('fonts/Pacifico-Regular.ttf');
}

body {
    font-family: 'Pacifico Regular', cursive;
}

header {
    height: 50px;
    background-color: #4682B4;
    color: orange;
    padding: 10px 1px 25px 10px;
    justify-content: center;
}

.image {
    float: left;
    margin-right: 30px;
    margin: 0px
    padding: 0px 5px;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.resume {
    display: flex;
    justify-content: center;
    color: #D2691E
}

main {
    display: flex;
    padding: 0px 0px 30px 0px;
}

.main {
    display: flex;
    flex-direction: column;
    color: orange;
}

.footer {
    color: #D2691E;
}

a {
    color: orange;
}
